.navbar-brand{
    color: teal;
}
.scrollspy-example{
    font-size: xx-large;
    
    #scrollspyHeading1{
        color: rgb(14, 134, 68);
    }
    #scrollspyHeading2{
        color: rgb(14, 134, 68);
    }
    #scrollspyHeading3{
        color: rgb(14, 134, 68);
    }
    #scrollspyHeading4{
        color: rgb(14, 134, 68);
    }
}

